<navbar></navbar>
<div class="container my-2">
    <div class="row">
        <div class="col-md-3">
                <ul class="list-group border-0 shadow rounded-0">
                    <li class="list-group-item">Courselist</li>
                    <li class="list-group-item">Assignments</li>
                    <li class="list-group-item">Resources</li>
                  </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" data-toggle="modal" data-target="#staticBackdrop">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">List group item heading</h5>
                          <small>John Doe</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="d-flex justify-content-end">Published 2 hrs ago</small>
                      </a>
                </li>
                <li class="list-group-item" data-toggle="modal" data-target="#staticBackdrop">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">List group item heading</h5>
                          <small>John Doe</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="d-flex justify-content-end">Published 2 hrs ago</small>
                      </a>
                </li>
                <li class="list-group-item" data-toggle="modal" data-target="#staticBackdrop">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">List group item heading</h5>
                          <small>John Doe</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="d-flex justify-content-end">Published 2 hrs ago</small>
                      </a>
                </li>
                <li class="list-group-item" data-toggle="modal" data-target="#staticBackdrop">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">List group item heading</h5>
                          <small>John Doe</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="d-flex justify-content-end">Published 2 hrs ago</small>
                      </a>
                </li>
                <li class="list-group-item" data-toggle="modal" data-target="#staticBackdrop">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">List group item heading</h5>
                          <small>John Doe</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="d-flex justify-content-end">Published 2 Hrs ago</small>
                    </a>
                </li>
            </ul>            
        </div>
        <div class="col-md-3">
            <div class="d-flex justify-content-end">
                <button routerLink="/home" class="btn btn-primary btn-sm my-2">
                  <span>
                    <i class="fa fa-plus"></i>
                    &nbsp;
                    Course
                  </span>
                </button>
            </div>
            <div class="card shadow">
               <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                        Courses
                        <span class="badge badge-primary badge-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                        Assignments
                        <span class="badge badge-primary badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                        Resources
                        <span class="badge badge-primary badge-pill">1</span>
                        </li>
                    </ul>
               </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-body p-lg-5">
        <h4 class="font-weight-bold text-muted">#341 - Algorithm</h4>
        <p class="font-weight-normal">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum facere eveniet facilis consectetur aperiam molestias iure fugit incidunt assumenda, voluptatum culpa nam vel sint saepe ipsum reiciendis voluptatem. Odio, perferendis.
        </p>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Assignments
                </button>
              </h2>
            </div>
        
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Resources
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer-page></footer-page>